{%extends 'base.html' %} {% load static %} {% block content%}

<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Register</h1>
        <nav class="d-flex align-items-center">
          <a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">Login/Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src=" {% static 'img/login.jpg' %} " alt="" />
          <div class="hover">
            <h4>Already have an account ?</h4>
            <br />
            <br />
            <br />
            <a class="primary-btn" href="{%url 'account:login'%}">Login</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Sign up to get started</h3>
          {% if error %}
          <h5 style="color: red;">{{error}}</h5>
          {% endif %}
          <form
            class="row login_form"
            action="{%url 'account:register'%}"
            method="post"
            id="contactForm"
            novalidate="novalidate"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {{formRegister.as_p}} {{formProfile.as_p}}
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="primary-btn">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
